body
{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa4N2KsZMZ7NgMhxYJaCuhjN_e-7PuTbx21w&s);
    background-repeat: no-repeat;
    background-size: cover;
    color:aliceblue;
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
img:hover{transform: scale(1.02);}
img{height:200px;  border-radius: 20px;}

.try{display: inline-block; padding-left: 0.1px;}

header
{
    margin:auto; 
    background-color: rgb(255, 128, 0);
    color: chocolate; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

@media all and (width<1000px) and (height<1000px)
{
    header{background-color: aqua;}
}

#form
{
    text-align: center;
    background-color: rgb(0, 26, 255);
    padding-top:170px;
    padding-bottom: 10px;
    width:100%;
}

#section-1
{
    margin-left: 20px;
    display:flex;
}


a:visited{color:white;} a:hover{color:rgb(30, 32, 32);}

h1{font-size: 25px; text-align: center; font-weight:lighter;  color: yellow;}

#phone, #elecrtonics, #earphone, #led{margin:0px 15px;}

#washing, #freeg, #laptop, #vacume{margin: 0px 2px;}

#search-box{width:300px;}
.nav-link
{
    margin:0em 1em;
}
#m{height:120px}